*.rf-csttg {
	cursor: pointer;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
*.rf-csttg-exp {
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
*.rf-csttg-colps {
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
*.rf-csttg-lnk {
	vertical-align: top;
}
*.rf-cst, *.rf-cst-nd {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
}
*.rf-cst-c, *.rf-cst-nd-c {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C0C9;
	color: #000000;
	background-color: #FFFFFF;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	padding: 4px;
}
*.rf-cst-hdr-c {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C0C9;
	color: #000000;
	background-color: #DFDCD5;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	font-weight: bold;
	padding: 4px;
	text-align: left;
}
*.rf-cst-shdr-c {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C0C9;
	background-color: #DFDCD5;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	font-weight: bold;
	padding: 4px;
}
*.rf-cst-ftr-c {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C0C9;
	background-color: #f1f1f1;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	font-weight: bold;
	padding: 4px;
	text-align: left;
}
*.rf-cst-sftr-c {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C4C0C9;
	background-color: #f1f1f1;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	padding: 4px;
}
