*.rf-ds {
	white-space: nowrap;
	display: inline-block;
	font-size: 11px;
	padding: 1px;
	font-family: Arial, Verdana, sans-serif ;
	background: #FFFFFF;
}
a.rf-ds-nmb-btn {
	color: #000000;
}
a.rf-ds-btn {
	color: #000000;
}
*.rf-ds-cont {
	white-space: nowrap;
	display: inline-block;
	font-size: 11px;
	padding: 1px;
	font-family: Arial, Verdana, sans-serif ;
	background: #FFFFFF;
}
*.rf-ds-cont-dec {
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0C9;
}
*.rf-ds-btn {
	cursor: pointer;
	padding: 2px 10px 3px 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0C9;
	display: inline-block;
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #D4CFC7;
	background-image: url(../org.richfaces.images/dsBtnGrad.png);
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif ;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
*.rf-ds-btn:hover {
	color: rgb(255, 255, 255);
}
*.rf-ds-dis:hover {
	color: #C4C0C9;
	cursor: default;
}
*.rf-ds-btn-first, *.rf-ds-btn-fastrwd, *.rf-ds-btn-prev {
	margin-right: 1px;
}
*.rf-ds-btn-next, *.rf-ds-btn-fastfwd, *.rf-ds-btn-last {
	margin-left: 1px;
}
*.rf-ds-nmb-btn {
	cursor: pointer;
	width: 2em;
	text-align: center;
	margin-left: 1px;
	margin-right: 1px;
	padding: 2px 2px 3px 2px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C4C0C9;
	background-color: #FFFFFF;
	background-image: url(../org.richfaces.images/dsDigGrad.png);
	background-position: top left;
	background-repeat: repeat-x;
	display: inline-block;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif ;
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}
*.rf-ds-nmb-btn:hover {
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0C9;
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	background-image: url(../org.richfaces.images/dsBtnGradOver.png);
}
*.rf-ds-press {
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0C9;
	background: #F1EEE9;
}
*.rf-ds-act, *.rf-ds-act:hover {
	cursor: default;
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C4C0C9;
	background: none;
}
*.rf-ds-dis {
	color: #C4C0C9;
	cursor: default;
}
*.rf-ds-pages {
	display: inline-block;
}
