*.rf-ord-opt {
	color: #000000;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif ;
}
*.rf-ord {
	display: inline-block;
}
*.rf-ord-hdr {
	vertical-align: middle;
	text-align: left;
	height: 22px;
	white-space: nowrap;
	background-image: url(../org.richfaces.images/colHdrGrad.png);
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #D4CFC7;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	color: #000000;
}
*.rf-ord-hdr-c {
	padding: 0 0.5em;
}
*.rf-ord-cptn {
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	color: #000000;
}
*.rf-ord-btn {
	width: 100%;
	white-space: nowrap;
	background-image: url(../org.richfaces.images/autocompleteButtonGradient.png);
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #D4CFC7;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C4C0B9;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-align: left;
}
*.rf-ord-btn-dis {
	cursor: default;
	color: rgb(221, 221, 221);
}
*.rf-ord-lst-dcrtn {
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0B9;
	padding: 0px;
	background-color: #FFFFFF;
}
*.rf-ord-lst-scrl {
	overflow: auto;
	overflow-x: hidden;
}
*.rf-ord-opt {
	padding: 2px;
	white-space: nowrap;
	cursor: pointer;
	list-style-type: none;
}
*.rf-ord-opt-dis {
	cursor: default;
}
*.rf-ord-sel {
	width: 100%;
	background-color: #D4CFC7;
	border-width: 1px;
	border-style: dotted;
	border-color: #000000;
}
input.rf-ord-dflt-lbl {
	color: rgb(179, 179, 179);
}
*.rf-ord-tbl {
	width: 100%;
}
