*.rf-pm-itm {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C4C0B9;
	color: #000000;
	padding: 2px 1px 2px 2px;
	cursor: pointer;
	white-space: nowrap;
}
*.rf-pm-itm-gr {
	width: 100%;
}
*.rf-pm-itm-ico {
	width: 16px;
	height: 16px;
	background-position: right;
	background-repeat: no-repeat;
	margin: 0px 3px;
}
*.rf-pm-itm-lbl {
	padding: 2px 0px 3px 0px;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif ;
	white-space: normal !important;
}
*.rf-pm-itm-exp-ico {
	width: 16px;
	height: 16px;
	background-position: right;
	background-repeat: no-repeat;
	margin: 0px 3px;
}
*.rf-pm-itm:hover {
	background-color: #F1EEE9;
}
*.rf-pm-itm-sel {
	font-style: italic;
}
*.rf-pm-gr {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C4C0B9;
}
*.rf-pm-gr-hdr:hover {
	background: #F1EEE9;
	color: white;
}
*.rf-pm-gr-sel {
	font-style: italic;
}
*.rf-pm-gr-hdr {
	font-weight: bold;
	color: #000000;
	padding: 2px 1px 2px 2px;
	cursor: pointer;
	white-space: nowrap;
}
*.rf-pm-gr-gr {
	width: 100%;
}
*.rf-pm-gr-ico {
	width: 16px;
	height: 16px;
	background-position: right;
	background-repeat: no-repeat;
	margin: 0px 3px;
}
*.rf-pm-gr-lbl {
	display: inline-block;
	padding: 2px 0px 3px 0px;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif ;
	white-space: normal !important;
}
*.rf-pm-gr-exp-ico {
	width: 16px;
	height: 16px;
	background-position: right;
	background-repeat: no-repeat;
	margin: 0px 3px;
}
*.rf-pm-top-itm {
	color: #000000;
	cursor: pointer;
	white-space: nowrap;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0B9;
	margin-bottom: 3px;
	padding: 1px;
}
*.rf-pm-top-itm-gr {
	width: 100%;
}
*.rf-pm-top-itm-ico {
	width: 16px;
	height: 16px;
	background-position: right;
	background-repeat: no-repeat;
	margin: 0px 3px;
}
*.rf-pm-top-itm-lbl {
	display: inline-block;
	padding: 2px 0px 3px 0px;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif ;
	white-space: normal !important;
}
*.rf-pm-top-itm-exp-ico {
	width: 16px;
	height: 16px;
	background-position: right;
	background-repeat: no-repeat;
	margin: 0px 3px;
}
*.rf-pm-top-itm:hover {
	color: #000000;
	background-color: #F1EEE9;
}
*.rf-pm-top-itm-sel {
	font-style: italic;
}
*.rf-pm-top-gr {
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0B9;
	border-radius: 0px;
	margin-bottom: 3px;
}
*.rf-pm-top-gr-sel {
	font-style: italic;
}
*.rf-pm-top-gr-hdr {
	color: #000000;
	padding: 2px 1px 2px 2px;
	cursor: pointer;
	padding-top: 2px;
	cursor: pointer;
	white-space: nowrap;
	background-image: url(../org.richfaces.images/pmenu_bg.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #D4CFC7;
	font-weight: bold;
}
*.rf-pm-top-gr-hdr-dis {
	color: #B1ADA7;
	padding: 2px 1px 2px 2px;
	cursor: default;
	padding-top: 2px;
	cursor: default;
	white-space: nowrap;
	background-image: url(../org.richfaces.images/pmenu_bg_dis.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #F1EEE9;
	font-weight: bold;
}
*.rf-pm-gr-hdr-dis, *.rf-pm-itm-dis, *.rf-pm-top-itm-dis {
	color: #B1ADA7;
	cursor: default;
}
*.rf-pm-itm, *.rf-pm-itm-dis:hover {
	background-color: inherit;
}
*.rf-pm-top-itm-dis:hover {
	background-color: inherit;
	color: #B1ADA7;
}
*.rf-pm-top-gr-gr {
	width: 100%;
}
*.rf-pm-top-gr-ico {
	width: 16px;
	height: 16px;
	background-position: right;
	background-repeat: no-repeat;
	margin: 0px 3px;
}
*.rf-pm-top-gr-lbl {
	display: inline-block;
	padding: 2px 0px 3px 0px;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif ;
	white-space: normal !important;
}
*.rf-pm-top-gr-exp-ico {
	width: 16px;
	height: 16px;
	background-position: right;
	background-repeat: no-repeat;
	margin: 0px 3px;
}
*.rf-pm-colps {
	display: none;
}
*.rf-pm-exp {
	display: block;
}
*.rf-pm-hdr-exp {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
*.rf-pm-hdr-exp *.rf-pm-ico-exp {
	display: block;
}
*.rf-pm-hdr-exp *.rf-pm-ico-colps {
	display: none;
}
*.rf-pm-hdr-colps {
	border-radius: 0px;
}
*.rf-pm-hdr-colps *.rf-pm-ico-exp {
	display: none;
}
*.rf-pm-hdr-colps *.rf-pm-ico-colps {
	display: block;
}
