*.rf-tt {
	position: absolute;
	display: none;
}
*.rf-tt-loading {
	display: none;
}
*.rf-tt-cntr {
	background-color: white;
	padding: 7px;
	border: 1px solid;
	border-color: #E5973E ;
	border-radius: 0px;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	display: inline-block;
}
