html {
    overflow-y: scroll;
}

body {
    font-size: 12px;
    margin: 0px;

    font-family: 'Microsoft Yahei',verdana;
}

a img {
    border: none;
}

h1 {
    font-size: 18px;
    white-space: nowrap;
    color: #444;
}


table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-family: 'Microsoft Yahei',verdana;
    font-size: 12px;
    font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    text-align: start;
}

input, select, textarea, button, keygen, isindex, legend, a {
    font-size: 12px;
    font-family: 'Microsoft Yahei',verdana;
    color: #000000;
}
fieldset {
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-color: #BED6F8;
}
hr {
    border-width: 1px;
    border-style: solid;
    border-color: #BED6F8;
}
a {
    color: #0078D0;
}
a:hover {
    color: #0090FF;
}
a:visited {
    color: #0090FF;
}
input, select, textarea, button, keygen, isindex {
    border-width: 1px;
    border-color: #BED6F8;
    color: #000000;
}
button, input[type="reset"], input[type="submit"], input[type="button"] {
    font-family: 'Microsoft Yahei',verdana;
}
button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {

}
button[disabled], input[type="reset"][disabled], input[type="submit"][disabled], input[type="button"][disabled] {

}
textarea, input[type="text"], input[type="password"], select {
    border-width: 1px;
    border-style: solid;
    border-color: #BED6F8;
    font-size: 12px;
    font-family: 'Microsoft Yahei',verdana;
    color: #000000;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-color: #ffffff;
    background-image: url(resource['org.richfaces.images:inputBackgroundImage.png']});
}


textarea[disabled], input[type="text"][disabled], input[type="password"][disabled], select[disabled] {
    color: #BED6F8;
    cursor: default;
}

.error {
    float: left;
    padding: 5px;
}

.tipError{
    float: left;
    padding: 5px;
    min-width: 26px;
    max-width: 26px;
}

.tail{
    float: left;
}

.fix_error{
    vertical-align: top;
    padding: 5px;
}

.errors {
    color: #FF0000;
    vertical-align: middle;
}

img.errors {
    padding-right: 5px;
}

.errors input, .errors textarea, .errors select {
    border: 1px solid red !important;
}

.required {
    color: #FF0000;
    padding-left: 2px;
}

.autoCompleteWidth50 {
    width: 80px !important;
}



.full-width { width:100%; }
.text-center { text-align:center; }

.container {
    width: 1020px;
    margin: 0 auto;
}

.containerFull{
    width: 100%;
    min-width: 1020px;
    margin: 0 auto;
}

.mid, .footer { text-align: left; }
.mid ul { list-style: none outside none; }

.mid  { padding-top: 18px; overflow:hidden; }


.primary {
    display: inline-block;
    width: 775px;
}

.menu {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    width: 230px;
    font-size: 12px;
}

.menuContainer {
    -moz-border-radius: 3px;
    border-radius:5px;
    background-color: #F9F9F9;
    margin-bottom: 10px;
    padding: 16px 19px;
}
.menuContainerTop {
    border-bottom: 1px solid #DEDEDB;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.menuContainer h2 {
    border-bottom: 1px solid #DEDEDB;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.menuContainer li a { line-height: 19px; }
.menuContainer li span[disabled='true'] { line-height: 19px; text-decoration:line-through; margin:0; }
.menu .selected { font-weight:bold; }



.breadCrumbs, .themeSelect{
    color: #ccc;
    font-size: 12px;
}
.breadCrumbs{ float: left; }
.themeSelect{ float: right; }



.footer {
    border-top: 1px solid #EAEAEA;
    margin: 40px 0 10px;
    padding: 8px 0 8px;
    font-size: 12px;
    color: #666666;
}
.footer p { float: left; }
.footer ul.footer-nav { float: right; }
.footer ul.footer-nav li { display: inline; padding: 0 6px; }


/*HEADER STYLES BEGIN*/
.header
{
    background: url('#{facesContext.externalContext.requestContextPath}/img/headerBlank.png') no-repeat;
    background-color: transparent;
    background-position: top center;
    width: 100%;
    min-width: 1020px;
    height: 123px;
}

.headerCenter
{
    background-color: transparent;
    width: 1020px;
    height: 110px;
    margin: 0 auto;
    overflow: hidden;
}

.headerFull{
    background-color: transparent;
    width: 100%;
    min-width: 1020px;
    height: 110px;
    margin: 0 auto;
    overflow: hidden;
}

.headerLogo
{
    overflow: hidden;
    float: left;
    padding-top: 8px;
}

.headerTabs
{
    text-align: right;
    overflow: hidden;
    padding-top: 29px;
}

.linkTableStyle
{
    float:right;
}
.linksHolder
{
    display: inline-block;
    background-color: transparent;
}

.aceSuiteLink
{
    margin-right: 0px;
}

.iceSuiteLink
{
    margin-right: 0px;
}

.suiteLinkImageStyle
{
    background-color: transparent;
    border-style:  none;
}

.headerRight{
    float: right;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

.menuCol{
    width: 250px;
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

.layoutCol{
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

.top_bar {
    float: right;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background: url('#{facesContext.externalContext.requestContextPath}/img/loginbar.png') no-repeat;
    background-origin: padding-box;
    background-position: 0 0;
    background-size: 585px 38px;
    height: 38px;
    margin: 0 0 2px;
    width: 600px;
}

.top_bar .func ul {
    float: left;
    margin: 0;
    padding: 9px 0 0 29px;
    width: 240px;
}

.top_bar li {
    list-style: none;
    float: left;
    padding: 0 10px;
    height: 15px;
    line-height: 15px;
    border-right: 1px solid #a6a6a6;
    font-size: 12px;
    color: #d1d3d4;
    margin: 0;
}

.top_bar li.last {
    border: 0;
}

.top_bar a {
    color: #D1D3D4;
    font-weight: 200;
    letter-spacing: 0.8px;
    text-decoration: none;
}

.top_bar a:hover {
    text-decoration: none;
    color: #27AAE1;
}

.top_bar a:visited{
    color: #D1D3D4;
}

.top_bar .task ul {
    float: right;
    margin: 0;
    padding: 9px 0 0 29px;
    width: 300px;
}

/*HEADER STYLES END*/

#header ul#skin-menu {
    color: #89a0be;
    cursor: default;
    font-weight: bold;
    margin: 0px 15px 0 0;
    text-align: right;
}

#header ul#skin-menu li {
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 25px;
    margin-left: 4px;
    padding-left: 5px;
}

#header ul#skin-menu li a {
    color: #89A0BE;
}

#header ul#skin-menu li span {
    height: 25px;
    font: bold 12px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
    padding: 3px 5px 0 0;
    display: inline-block;
}

#header ul#skin-menu li span:hover {
    text-decoration: underline;
}

#header ul#skin-menu li.label span {
    color: #999999;
    cursor: default;
    font-weight: normal;
}

#header ul#skin-menu li.current-skin {
    background: url('#{facesContext.externalContext.requestContextPath}/img/select-skin-button.png') left -75px no-repeat;
}

#header ul#skin-menu li.current-skin span {
    background: url('#{facesContext.externalContext.requestContextPath}/img/select-skin-button.png') right 0 repeat-x;
    color: #fff;
}

#header ul#skin-menu li.current-skin span a {
    color: #fff;
}

#header ul#skin-menu li.label span:hover,
#header ul#skin-menu li.current-skin span:hover {
    text-decoration: none;
}

#header ul#skin-menu li.current-skin span a:hover {
    text-decoration: none;
}

fieldset {
    margin: 0;
}

ul.layout {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
    padding: 0 0 10px;
}



.clear {
    clear: both;
    height: 0%;
}



.source, div.rf-log {
    width: 650px;
}

a.show, a.hide {
    font: bold 12px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
    color: #5F9CD0;
    display: block;

}

.left-menu {
    padding: 0 !important;
    width: 5px;
}

/*--- RichFaces panelMenu styles overwriting ---

.left-menu .rf-pm {
    border: 1px solid #B0BDC5;
    border-bottom: 0;
}

.left-menu .rf-pm .rf-pm-top-gr {
    border: 0;
    border-bottom: 1px solid #969b9e;
    margin: 0;
    padding: 0;
}

.left-menu .rf-pm .rf-pm-top-gr-hdr {
    background: #c6cacc url(../img/pmenu_bg.png) left top repeat-x;
    padding: 3px 1px 2px 3px;
}

.left-menu .rf-pm .rf-pm-top-gr-hdr:hover {
    background: #c6cacc url(../img/pmenu_bg.png) left top repeat-x;
}

.left-menu .rf-pm .rf-pm-top-gr-ico {
    display: none;
}

.left-menu .rf-pm .rf-pm-top-gr-lbl {
    color: #273945;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
    margin-left: 4px;
}

.left-menu .rf-pm .rf-pm-top-gr-lbl:hover {
    color: #5a8eba;
}

.left-menu .rf-pm-exp {
    background: #ffffff;
}

.left-menu .rf-pm-exp .rf-pm-itm {
    border: 0;
    border-bottom: 1px solid #dddddd;
}

.left-menu .rf-pm-exp .rf-pm-itm:hover {
    background: none;
}

.left-menu .rf-pm-exp .rf-pm-itm-lbl:hover {
    color: #5f9cd0;
}

.left-menu .rf-pm-exp .rf-pm-itm-sel,
.left-menu .rf-pm-exp .rf-pm-itm-sel:hover {
    //background:#e3e8ef;
}

.left-menu .rf-pm-exp .rf-pm-itm-lbl {
    color: #305f7b;
    font: normal 11px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}

.left-menu .rf-pm-exp .rf-pm-itm-sel .rf-pm-itm-lbl {
    color: #5f9cd0;
    font-weight: bold;
}

.left-menu .rf-pm-exp .rf-pm-itm-ico {
    padding: 0 !important;
    width: 5px;
}
  */
/*--- RichFaces tablePanel styles overwriting ---
.navigation .rf-tab-hdr-tabline-vis {
    background: #ebf6fd;
    border: 0;
    height: 31px;
    padding: 0;
}

.navigation .rf-tab-hdr {
    border: 1px solid #dddddd;
    padding: 6px 10px 0;
    margin-right: 3px;
}

.navigation .rf-tab-hdr-act {
    background: #ffffff;
    border-bottom: 0;
    color: #5F9CD0;
}

.navigation .rf-tab-hdr-act .rf-tab-lbl {
    font-weight: bold;
}

.navigation .rf-tab-hdr-inact {
    background: #c6cacc url(../img/pmenu_bg.png) left top repeat-x;
    border: 1px solid #bec3c7;
}

.navigation .rf-tab-hdr-spcr {
    border-bottom: 1px solid #dddddd;
    padding: 0 3px 0 0;
}

.navigation .rf-tab-lbl {
    font: normal 12px "Lucida Sans Unicode", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}
*/





/*
.rf-cp {
	overflow: auto;
}


/* the specificity here is necessary to override the defaults */
/*
.rf-p .rf-p-hdr,
.rf-cp .rf-cp-hdr {
	padding: 2px 3px;
}*/


/*
.rf-p input[type=submit], .rf-p input[type=button],
.rf-tbp input[type=submit], .rf-tbp input[type=button] {
	margin-bottom: 0;
}

.tableControl input[type=submit], .tableControl input[type=button], .tableControl select {
	margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
/*
.tableControl select {
	margin-left: 2px;
	position: relative;
	top: 1px;
}



/*
.rf-tb-itm a {
	text-decoration: none;
}

.rf-tb-itm a:hover, .rf-ddmenu-label-select {
	text-decoration: underline;
}

.rf-tb-itm .rf-menu-itm a:hover {
	text-decoration: none;
}

.rf-dl {
	list-style: square;
	margin: 6px 0 1px 0;
	padding-left: 18px;
}

.rf-lst-itm {
	padding-bottom: 4px;
}



div.info {
	font-size: 1.2em;
}


ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}

td.action {
	text-align: center;
	width: 8em;
	white-space: nowrap;
}

td.action a {
	padding-left: 1px;
	padding-right: 1px;
}

table.radio {
   border: 0;
}

table.radio td {
   padding: 0 2px;
}

table.radio input[type=radio] {
   vertical-align: bottom;
}

*/

.component_status {
    position: absolute;
    top: 100px;
    right: 100px;
}

.column-right-align {
    text-align: right;
}

.func-title-table{
    padding: 0 0 5px 0;
    margin: 0;
    border: 0;
    width: 100%;
    vertical-align: middle;
}

.func-title{
    padding-left: 10px;
    margin: 0;
    border: 0;
    vertical-align: middle;
}

.func-title-cat{
    width: 1px;
    padding: 0;
    margin: 0;
    border: 0;
}

.func-title-process{
    padding: 0;
    margin: 0;
    border: 0;
    width: 50px;
    text-align: right;
}

.func-body {
    min-height: 460px;
}

.message-icon .rf-msg-err {
    display: inline;
    visibility: visible;
    /*
     background-image: url('#{facesContext.externalContext.requestContextPath}/img/error.gif');
*/
}


.message-icon .rf-msg-dtl {
    display: none;
    visibility: hidden;
}

.message-icon .rf-msg-det {
    display: none;
    visibility: hidden;
}



.panel_documents {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 10px 10px 10px 20px;
    border-bottom: none;
}

.panel_documents div {
    background-color: transparent;
    font-family: verdana;
    font-size: 12px;
    border: 0;
    padding: 0;
}

.panel_documents a {
    color: #000000;
    text-decoration: none;
}

.panel_documents a:hover {
    color: #000000;
    text-decoration: underline;
}



/*
input[type=submit], input[type=button] {

	margin: 5px 5px 5px 0;
	cursor: pointer;
}

input[type=text], input[type=password], textarea {

	padding-left: 1px;
}

select {
	font-size: 13px;
}



.tableControl, .actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}
   */
.footer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}


/*
.rf-tbl {
	width: 100%;
}


.body {
	padding: 30px;
}

*/

.message {
    padding: 5px;
    list-style: none;
    border: 0;
    background: none;
    padding: 0;
    color: #000000;
    margin: 5px 0 8px 0;
    font-size: 12px;
}

.message li {
    background: no-repeat left center;
    padding-top: 1px;
    padding-left: 20px;
    margin-left: 3px;
}

.message li.infomsg {
    background-image: url(../img/msginfo.png);
}

.message li.errormsg {
    background-image: url(../img/msgerror.png);
}

.message li.warnmsg {
    background-image: url(../img/msgwarn.png);
}

.label_column{
    vertical-align: top;
    font-weight: bold;
    width: 115px;
    padding: 0px;
}

.value_column{
    padding: 0px;

}

.name {
    vertical-align: top;
    font-weight: bold;
    width: 115px;
    float: left;
    padding: 5px;
    margin-top: 3px;
    clear: left;
}

.auto_width_name{
    vertical-align: top;
    font-weight: bold;
    float: left;
    padding: 5px;
    margin-top: 3px;
    clear: left;
}

.small_name{
    vertical-align: top;
    font-weight: bold;
    width: 75px;
    float: left;
    padding: 5px;
    margin-top: 3px;
    clear: left;
}

/*  delete this*/
.small_label{
    font-weight: bold;
    width: 75px;
    padding: 5px;
    margin-top: 3px;
}

.fix_name{
    vertical-align: top;
    font-weight: bold;
    padding: 5px;
    margin-top: 3px;
    clear: left;
}

.fix_value{
    vertical-align: top;
    padding: 5px;
}

.small_value{
    padding: 5px;
}

.value_button{
    float: left;
    padding: 4px;
}

.value {
    float: left;
    padding: 5px;
}

.requiredTip{
    float: right;
    padding: 5px;
    vertical-align: bottom;
}

.detailsTable{
    width: 100%; padding: 5px; margin: 0;
    display:table;
    border-collapse: collapse;
    border: 1px solid #BED6F8;
}

.detailsTable th{
    display: table-cell;
    border-collapse: collapse;
    vertical-align: inherit;

    border: 1px solid #BED6F8;
    padding: 5px 5px 5px 5px;
    background: #ECF4FE;
    color: #797268;
    text-align: center;
}

.detailsTable td{
    border-collapse: collapse;

    display: table-cell;
    vertical-align: inherit;
    border: 1px solid #BED6F8;

    background: #fff;
    padding: 5px 5px 5px 5px;
    color: #4f6b72;

    min-width: 100px;
    text-align: left;
}


.searchButtons{
    margin: 20px 0 5px 5px;
}

.actionButtons {

    padding-left: 1px;
    width:100%
}

.actionButtons select {
    margin: 5px 5px 5px 0;
    vertical-align: bottom;
}

.gridFunctionCategory{
    vertical-align: top;
}

.gridFunction{
    vertical-align: top;
}

.toolBarPic {
    margin-right: 2px;
}


.form-actions {
    margin: 20px 0 5px 5px;
    padding-bottom: 5px;
    text-align: right;
}