*.rf-pick-opt{color:#000;font-size:11px;font-family:Arial,Verdana,sans-serif;}
*.rf-pick{display:inline-block;outline:none!important;}
*.rf-pick-hdr{vertical-align:middle;text-align:left;height:22px;white-space:nowrap;background-image:url(../org.richfaces.images/colHdrGrad.png);background-repeat:repeat-x;background-position:top left;background-color:#D4CFC7;font-size:11px;font-family:Arial,Verdana,sans-serif;font-weight:bold;color:#000;}
*.rf-pick-hdr-c{padding:0 .5em;}
*.rf-pick-src-cptn,*.rf-pick-tgt-cptn{font-size:11px;font-family:Arial,Verdana,sans-serif;font-weight:bold;color:#000;}
*.rf-pick-btn{width:100%;white-space:nowrap;background-image:url(../org.richfaces.images/autocompleteButtonGradient.png);background-repeat:repeat-x;background-position:top left;background-color:#D4CFC7;border-left-width:1px;border-left-style:solid;border-left-color:#C4C0B9;display:inline-block;vertical-align:top;cursor:pointer;text-align:left;}
*.rf-pick-btn-dis{cursor:default;color:#ddd;}
*.rf-pick-lst-dcrtn{border-width:1px;border-style:solid;border-color:#C4C0B9;padding:0;background-color:#FFF;}
*.rf-pick-lst-scrl{overflow:auto;overflow-x:hidden;}
*.rf-pick-opt{padding:2px;white-space:nowrap;cursor:pointer;list-style-type:none;}
*.rf-pick-opt-dis{cursor:default;}
*.rf-pick-sel{width:100%;background-color:#D4CFC7;border-width:1px;border-style:dotted;border-color:#000;}
input.rf-pick-dflt-lbl{color:#b3b3b3;}
*.rf-pick-tbl{width:100%;}