*.rf-cp {
	border-width: 1px;
	border-style: solid;
	padding: 1px;
}
*.rf-cp-hdr {
	cursor: pointer;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	background-position: top left;
	background-repeat: repeat-x;
	background-image: none;
}
*.rf-cp-b {
	padding: 10px;
}
*.rf-cp-gr {
	width: 100%;
}
*.rf-cp-ico {
	width: 16px;
	height: 16px;
}
*.rf-cp-exp-ico {
	width: 16px;
	height: 16px;
}
*.rf-cp-hdr-exp *.rf-cp-ico-exp {
	display: block;
}
*.rf-cp-hdr-exp *.rf-cp-ico-colps {
	display: none;
}
*.rf-cp-hdr-exp *.rf-cp-lbl-exp {
	display: block;
}
*.rf-cp-hdr-exp *.rf-cp-lbl-colps {
	display: none;
}
*.rf-cp-hdr-colps *.rf-cp-ico-exp {
	display: none;
}
*.rf-cp-hdr-colps *.rf-cp-ico-colps {
	display: block;
}
*.rf-cp-hdr-colps *.rf-cp-lbl-exp {
	display: none;
}
*.rf-cp-hdr-colps *.rf-cp-lbl-colps {
	display: block;
}
