*.rf-csttg {
	cursor: pointer;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
*.rf-csttg-exp {
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
*.rf-csttg-colps {
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
*.rf-csttg-lnk {
	vertical-align: top;
}
*.rf-cst, *.rf-cst-nd {
	border-bottom-width: 0px;
	border-bottom-style: solid;
}
*.rf-cst-c, *.rf-cst-nd-c {
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
	padding: 4px;
}
*.rf-cst-hdr-c {
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
	font-weight: bold;
	padding: 4px;
	text-align: left;
}
*.rf-cst-shdr-c {
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
	font-weight: bold;
	padding: 4px;
}
*.rf-cst-ftr-c {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
	font-weight: bold;
	padding: 4px;
	text-align: left;
}
*.rf-cst-sftr-c {
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-style: solid;
	padding: 4px;
}
