input.rf-is-fld {
	padding: 0px 0px 0px 0px;
	border: 0px;
	margin: 0px;
	width: 112px;
	background-image: url(../../org.richfaces.images/mark_list.gif);
	background-position: center right;
	background-repeat: no-repeat;
}
*.rf-is-none {
	clip: rect(0px 0px 1px 1px);
}
*.rf-is-none {
	clip: rect(0px, 0px, 1px, 1px);
}
*.rf-is-fld-cntr {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
}
*.rf-is {
	display: inline-block;
	position: relative;
	white-space: nowrap;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	padding-left: 3px;
	padding-right: 3px;
}
*.rf-is-chng {
	display: inline-block;
	background-image: url(../../org.richfaces.images/mark_changed.gif);
	background-position: top left;
	background-repeat: no-repeat;
}
*.rf-is-btn {
	background-image: none;
	background-position: top;
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: outset;
	padding: 3px;
	margin: 0px;
}
*.rf-is-btn-p {
	background-image: none;
	background-position: top;
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: inset;
	padding: 3px;
	margin: 0px;
}
*.rf-is-btn-set {
	position: absolute;
	top: 0px;
	left: 112px;
	white-space: nowrap;
}
*.rf-is-lst-cord {
	display: block;
	position: absolute;
	z-index: 10000;
}
*.rf-is-lst-pos {
	display: block;
	position: absolute;
	top: 0px;
	left: -1px;
}
*.rf-is-lst-dec {
	display: block;
	border-width: 1px;
	border-style: solid;
	padding: 0px;
}
*.rf-is-lst-scrl {
	display: block;
	overflow: auto;
	overflow-x: hidden;
}
*.rf-is-opt {
	display: block;
	padding: 2px;
	white-space: nowrap;
	cursor: default;
}
*.rf-is-sel {
	display: block;
	padding: 1px;
	background-color: rgb(223, 232, 246);
	border-width: 1px;
	border-style: dotted;
}
*.rf-is-btn-prepos {
	display: block;
	position: absolute;
	top: -4px;
	right: 0px;
	width: 1px;
	height: 1px;
}
*.rf-is-btn-pos {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	white-space: nowrap;
}
*.rf-is-btn-shdw {
	display: block;
	position: relative;
	padding: 6px 6px 6px 6px;
	top: -6px;
	right: -6px;
}
*.rf-is-shdw {
	display: block;
	position: relative;
	padding: 6px 6px 6px 6px;
	top: -6px;
	left: -6px;
}
*.rf-is-btn-cntr {
	position: relative;
	display: block;
	font-size: 0px;
}
*.rf-is-shdw-t {
	display: block;
	background-image: url(../../org.richfaces.images/bg_shadow.png);
	background-position: top left;
	position: absolute;
	width: 6px;
	top: 0px;
	bottom: 6px;
	left: 0px;
}
*.rf-is-shdw-l {
	display: block;
	background-image: url(../../org.richfaces.images/bg_shadow.png);
	background-position: bottom left;
	position: absolute;
	height: 6px;
	bottom: 0px;
	left: 0px;
	right: 6px;
}
*.rf-is-shdw-r {
	display: block;
	background: url(../../org.richfaces.images/bg_shadow.png);
	background-position: bottom right;
	position: absolute;
	width: 6px;
	top: 6px;
	bottom: 0px;
	right: 0px;
}
*.rf-is-shdw-b {
	display: block;
	background: url(../../org.richfaces.images/bg_shadow.png);
	background-position: right top;
	position: absolute;
	height: 6px;
	top: 0px;
	left: 6px;
	right: 0px;
}
*.rf-is-dflt-lbl {
	color: rgb(179, 179, 179);
}
