*.rf-pb-rmng {
	height: 13px;
	white-space: nowrap;
	width: 200px;
	position: relative;
	border-width: 1px;
	border-style: solid;
	overflow: hidden;
	font-weight: bold;
	padding: 0px;
}
*.rf-pb-prgs {
	overflow: hidden;
	background-repeat: repeat-x;
	height: 100%;
	padding: 0px;
	background-image: none;
}
*.rf-pb-lbl {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
}
