*.rf-pick{display:inline-block;outline:none!important;}
*.rf-pick-hdr{vertical-align:middle;text-align:left;height:22px;white-space:nowrap;background-image:none;background-repeat:repeat-x;background-position:top left;}
*.rf-pick-hdr-c{padding:0 .5em;}
*.rf-pick-btn{width:100%;white-space:nowrap;background-image:none;background-repeat:repeat-x;background-position:top left;border-left-width:1px;border-left-style:solid;display:inline-block;vertical-align:top;cursor:pointer;text-align:left;}
*.rf-pick-btn-dis{cursor:default;color:#ddd;}
*.rf-pick-lst-dcrtn{border-width:1px;border-style:solid;padding:0;}
*.rf-pick-lst-scrl{overflow:auto;overflow-x:hidden;}
*.rf-pick-opt{padding:2px;white-space:nowrap;cursor:pointer;list-style-type:none;}
*.rf-pick-opt-dis{cursor:default;}
*.rf-pick-sel{width:100%;border-width:1px;border-style:dotted;}
input.rf-pick-dflt-lbl{color:#b3b3b3;}
*.rf-pick-tbl{width:100%;}