*.rf-insp {
	border-width: 1px;
	border-style: solid;
	border-color: #C4C0B9;
	display: inline-block;
	font-size: 1px;
	white-space: nowrap;
}
input.rf-insp-inp[type="text"] {
	background-color: #ffffff;
	background-image: url(../org.richfaces.images/inputBackgroundImage.png);
	background-position: 1px 1px;
	background-repeat: no-repeat;
	border: 0px;
	color: #000000;
	font-family: Arial, Verdana, sans-serif ;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
*.rf-insp-btns {
	background-color: #D4CFC7;
	background-image: url(../org.richfaces.images/buttonBackgroundImage.png);
	background-position: top left;
	background-repeat: repeat-x;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C4C0B9;
	display: inline-block;
	vertical-align: top;
}
*.rf-insp-dec, *.rf-insp-inc, *.rf-insp-dec-dis, *.rf-insp-inc-dis {
	background-position: 50% 40%;
	background-repeat: no-repeat;
	display: block;
	height: 8px;
	width: 15px;
}
*.rf-insp-dec {
	background-image: url(../org.richfaces.images/spinnerArrowBottom.png);
}
*.rf-insp-inc {
	background-image: url(../org.richfaces.images/spinnerArrowTop.png);
}
*.rf-insp-dec-dis {
	background-image: url(../org.richfaces.images/spinnerDisabledArrowBottom.png);
}
*.rf-insp-inc-dis {
	background-image: url(../org.richfaces.images/spinnerDisabledArrowTop.png);
}
