<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>MINIERP</display-name>

    <!-- birt -->


    <!-- Default locale setting.
	-->
    <context-param>
        <param-name>BIRT_VIEWER_LOCALE</param-name>
        <param-value>zh-CN</param-value>
    </context-param>

    <!--
        Default timezone setting.
        Examples: "Europe/Paris", "GMT+1".
        Defaults to the container's timezone.
     -->
    <context-param>
        <param-name>BIRT_VIEWER_TIMEZONE</param-name>
        <param-value></param-value>
    </context-param>

    <!--
        Report resources directory for preview. Defaults to ${birt home}
    -->
    <context-param>
        <param-name>BIRT_VIEWER_WORKING_FOLDER</param-name>
        <param-value></param-value>
    </context-param>

    <!--
        Temporary document files directory. Defaults to ${birt home}/documents
    -->
    <context-param>
        <param-name>BIRT_VIEWER_DOCUMENT_FOLDER</param-name>
        <param-value></param-value>
    </context-param>

    <!--
        Flag whether the report resources can only be accessed under the
        working folder. Defaults to true
    -->
    <context-param>
        <param-name>WORKING_FOLDER_ACCESS_ONLY</param-name>
        <param-value>true</param-value>
    </context-param>

    <!--
        Settings for how to deal with the url report path. e.g. "http://host/repo/test.rptdesign".

        Following values are supported:

        <all> 		- All paths.
        <domain>	- Only the paths with host matches current domain. Note the comparison is literal, "127.0.0.1" and "localhost" are considered as different hosts.
        <none> 		- URL paths are not supported.

        Defaults to "domain".
    -->
    <context-param>
        <param-name>URL_REPORT_PATH_POLICY</param-name>
        <param-value>all</param-value>
    </context-param>

    <!--
        Temporary image/chart directory. Defaults to ${birt home}/report/images
    -->
    <context-param>
        <param-name>BIRT_VIEWER_IMAGE_DIR</param-name>
        <param-value></param-value>
    </context-param>

    <!-- Engine log directory. Defaults to ${birt home}/logs -->
    <context-param>
        <param-name>BIRT_VIEWER_LOG_DIR</param-name>
        <param-value></param-value>
    </context-param>

    <!-- Report engine log level -->
    <context-param>
        <param-name>BIRT_VIEWER_LOG_LEVEL</param-name>
        <param-value>WARNING</param-value>
    </context-param>

    <!--
        Directory where to store all the birt report script libraries (JARs).
        Defaults to ${birt home}/scriptlib
    -->
    <context-param>
        <param-name>BIRT_VIEWER_SCRIPTLIB_DIR</param-name>
        <param-value></param-value>
    </context-param>

    <!-- Resource location directory. Defaults to ${birt home} -->
    <context-param>
        <param-name>BIRT_RESOURCE_PATH</param-name>
        <param-value></param-value>
    </context-param>

    <!-- Preview report rows limit. An empty value means no limit. -->
    <context-param>
        <param-name>BIRT_VIEWER_MAX_ROWS</param-name>
        <param-value></param-value>
    </context-param>

    <!--
        Max cube fetch levels limit for report preview (Only used when
        previewing a report design file using the preview pattern)
    -->
    <context-param>
        <param-name>BIRT_VIEWER_MAX_CUBE_ROWLEVELS</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>BIRT_VIEWER_MAX_CUBE_COLUMNLEVELS</param-name>
        <param-value></param-value>
    </context-param>

    <!-- Memory size in MB for creating a cube. -->
    <context-param>
        <param-name>BIRT_VIEWER_CUBE_MEMORY_SIZE</param-name>
        <param-value></param-value>
    </context-param>

    <!-- Defines the BIRT viewer configuration file -->
    <context-param>
        <param-name>BIRT_VIEWER_CONFIG_FILE</param-name>
        <param-value>WEB-INF/viewer.properties</param-value>
    </context-param>

    <!--
        Flag whether to allow server-side printing. Possible values are "ON"
        and "OFF". Defaults to "ON".
    -->
    <context-param>
        <param-name>BIRT_VIEWER_PRINT_SERVERSIDE</param-name>
        <param-value>ON</param-value>
    </context-param>

    <!--
        Flag whether to force browser-optimized HTML output. Defaults to true
    -->
    <context-param>
        <param-name>HTML_ENABLE_AGENTSTYLE_ENGINE</param-name>
        <param-value>true</param-value>
    </context-param>

    <!--
        Filename generator class/factory to use for the exported reports.
    -->
    <context-param>
        <param-name>BIRT_FILENAME_GENERATOR_CLASS</param-name>
        <param-value>org.eclipse.birt.report.utility.filename.DefaultFilenameGenerator</param-value>
    </context-param>

    <!--
        Viewer Filter used to set the request character encoding to UTF-8.
    -->
    <filter>
        <filter-name>ViewerFilter</filter-name>
        <filter-class>org.eclipse.birt.report.filter.ViewerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ViewerFilter</filter-name>
        <servlet-name>ViewerServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ViewerFilter</filter-name>
        <servlet-name>EngineServlet</servlet-name>
    </filter-mapping>

    <!-- Viewer Servlet Context Listener -->
    <listener>
        <listener-class>org.eclipse.birt.report.listener.ViewerServletContextListener</listener-class>
    </listener>

    <!-- Viewer HttpSession Listener -->
    <listener>
        <listener-class>org.eclipse.birt.report.listener.ViewerHttpSessionListener</listener-class>
    </listener>

    <!-- Viewer Servlet, Supports SOAP -->
    <servlet>
        <servlet-name>ViewerServlet</servlet-name>
        <servlet-class>org.eclipse.birt.report.servlet.ViewerServlet</servlet-class>
    </servlet>

    <!-- Engine Servlet -->
    <servlet>
        <servlet-name>EngineServlet</servlet-name>
        <servlet-class>org.eclipse.birt.report.servlet.BirtEngineServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewerServlet</servlet-name>
        <url-pattern>/frameset</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewerServlet</servlet-name>
        <url-pattern>/run</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/preview</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/parameter</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/document</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/output</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EngineServlet</servlet-name>
        <url-pattern>/extract</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <taglib>
            <taglib-uri>/birt.tld</taglib-uri>
            <taglib-location>/WEB-INF/tlds/birt.tld</taglib-location>
        </taglib>
    </jsp-config>


    <servlet>
        <servlet-name>JBoss BIRT Servlet</servlet-name>
        <servlet-class>org.jboss.tools.birt.servlet.JBossBirtServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JBoss BIRT Servlet</servlet-name>
        <url-pattern>/embed</url-pattern>
    </servlet-mapping>


    <!--
     <context-param>
         <param-name>facelets.LIBRARIES</param-name>
         <param-value>
             /tags/custom.taglib.xml;
         </param-value>
     </context-param>
             -->
    <!-- RichFaces -->

    <context-param>
        <param-name>org.richfaces.skin</param-name>
        <param-value>#{skinBean.skin}</param-value>
    </context-param>

    <!-- built-in sorting and Filtering -->
    <context-param>
        <param-name>org.richfaces.builtin.filter.enabled</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>org.richfaces.builtin.sort.enabled</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>org.richfaces.datatableUsesViewLocale</param-name>
        <param-value>true</param-value>
    </context-param>


    <!-- Suppress spurious stylesheets -->

    <context-param>
        <param-name>org.richfaces.enableControlSkinning</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>org.richfaces.enableControlSkinningClasses</param-name>
        <param-value>false</param-value>
    </context-param>

    <!--
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
                  -->
    <!-- Change load strategy to DEFAULT to disable sending scripts/styles as packs -->

    <context-param>
        <param-name>org.richfaces.resourceOptimization.enabled</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- createTempFiles boolean attribute which defines whether the uploaded files are stored in temporary files or available in the listener directly as byte[] data (false for this example). -->
    <!--
    <context-param>
        <param-name>createTempFiles</param-name>
        <param-value>false</param-value>
    </context-param>  -->
    <context-param>
        <param-name>org.richfaces.fileUpload.createTempFiles</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>org.richfaces.fileUpload.maxRequestSize</param-name>
        <param-value>1000000</param-value>
    </context-param>

    <!-- Configures Push -->


    <servlet>
        <servlet-name>Push Servlet</servlet-name>
        <servlet-class>org.richfaces.webapp.PushServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>

    <context-param>
        <param-name>org.atmosphere.useBlocking</param-name>
        <param-value>true</param-value>
    </context-param>


    <context-param>
        <param-name>org.richfaces.push.initializeOnStartup</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.push.jms.enabled</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.push.jms.connectionUsername</param-name>
        <param-value>guest</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.push.jms.connectionPassword</param-name>
        <param-value>p@ssw0rd</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.push.session.maxInactiveInterval</param-name>
        <!-- interval in miliseconds; default value: 5 minutes -->
        <param-value>300000</param-value>
    </context-param>
    <context-param>
        <param-name>org.atmosphere.cpr.CometSupport.maxInactiveActivity</param-name>
        <param-value>35000</param-value>
    </context-param>

    <!--maxRequestSize attribute defines max size in bytes of the uploaded files (1000000 for this example).-->
    <!--
     <context-param>
         <param-name>maxRequestSize</param-name>
         <param-value>1000000</param-value>
     </context-param>
            -->


    <context-param>
        <param-name>ddl</param-name>
        <param-value>import.sql.UTF-8</param-value>
    </context-param>


    <!--
   <listener>
       <listener-class>com.dgsoft.common.persistence.HibImportEncodeListener</listener-class>
   </listener>
          -->
    <!-- Seam -->
    <listener>
        <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
    </listener>

    <filter>
        <filter-name>Seam Filter</filter-name>
        <filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Seam Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <url-pattern>/seam/resource/*</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>png</extension>
        <mime-type>image/png</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>swf</extension>
        <mime-type>application/x-shockwave-flash</mime-type>
    </mime-mapping>


    <!-- Change to "Production" when you are ready to deploy [Development]-->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>

    <!-- JSF -->

    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.seam</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <display-name>Restrict raw XHTML Documents</display-name>
        <web-resource-collection>
            <web-resource-name>XHTML</web-resource-name>
            <url-pattern>*.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>


</web-app>
